# Python cache
__pycache__/
*.pyc

# Local MLflow database (should not be in version control)
mlflow.db
mlruns/
mlartifacts/
/00-utilities/mlflow_data/
04-deployment/run_id.txt

# Optional local model mirror (we only care about the S3 version)
06-cicd/artifacts/model/

# Secrets file (if you ever use one)
.env

# IDE / OS specific
.vscode/
.idea/
*.DS_Store
.pytest_cache/

*.png
*.db
*.csv
*.yaml
*.pkl